.buttonWrapper {
  position: relative;
  .button {
    color: #232524;
    background-color: white;
    height: 60px;
    width: 320px;
    font-size: 18px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    transform: scale(1.0);
    &:hover {
      transform: scale(1.05);
    }
  }
}
.wrapper {
  user-select: none;
  cursor: pointer;
  margin-right: 240px;
  margin-top: 140px;
}
