.audioPlayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  user-select: none;
  cursor: pointer;
}

.reactWavesWrapper {
  padding-left: 12px;
  padding-bottom: 16px;
  width: 100%;
  .reactWaves {
    width: 100%;
    margin: 0 0 4px 0 !important;
    padding: 0px 0 0 4px !important;
  }
}

.iconPlay {
  font-size: 18px;
  path {
    // color: green;
  }
}

.iconPause {
  font-size: 18px;
  path {
    color: #3870ff;
  }
}
