.container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 100%;
  width: 100vw;
  position: relative;
  justify-items: center;
  text-align: center;
}
