.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 64px;
  }
  .title {
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 57px;
    line-height: 70px;
    color: #ffffff;
  }

  .packLine {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 69px;
    padding-right: 48px;
    padding-left: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
